<a href="https://colab.research.google.com/github/n1lays1ngh/Delhi-Air-Quality-Prediction/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os

data_folder_path = '/content/drive/MyDrive/Pollutant Data'
if os.path.exists(data_folder_path):
    print(f"Success! Folder found at: {data_folder_path}")
    print("You can now run Cell 2.")
else:
    print(f"Error: Folder not found at '{data_folder_path}'")
    print("Please double-check the folder name (it's case-sensitive) and path.")

Success! Folder found at: /content/drive/MyDrive/Pollutant Data
You can now run Cell 2.

In [6]:
input_file = os.path.join(data_folder_path, 'delhi_aqi_timeseries_formatted2.csv')
output_file = os.path.join(data_folder_path, 'delhi_aqi_cleaned.csv')

In [7]:
import pandas as pd
import numpy as np

In [8]:
try:
  df = pd.read_csv(input_file,parse_dates=['Date'])
except FileNotFoundError:
    print(f"Error: Input file not found at {input_file}")
    print("Please make sure the file exists and the path is correct.")
    raise

In [10]:
df.head(20)

         Date    AQI Pollutants
0  2017-01-01  345.0        NaN
1  2017-01-02  337.0        NaN
2  2017-01-03  331.0        NaN
3  2017-01-04  381.0        NaN
4  2017-01-05  321.0        NaN
5  2017-01-06  351.0        NaN
6  2017-01-07  278.0        NaN
7  2017-01-08  288.0        NaN
8  2017-01-09  308.0        NaN
9  2017-01-10  247.0        NaN
10 2017-01-11  280.0        NaN
11 2017-01-12  323.0        NaN
12 2017-01-13  326.0        NaN
13 2017-01-14  384.0        NaN
14 2017-01-15  326.0        NaN
15 2017-01-16  355.0        NaN
16 2017-01-17  245.0        NaN
17 2017-01-18  317.0        NaN
18 2017-01-19  300.0        NaN
19 2017-01-20  216.0        NaN

In [11]:
df.describe()

                      Date          AQI
count                 3012  2979.000000
mean   2021-02-14 12:00:00   211.376972
min    2017-01-01 00:00:00    41.000000
25%    2019-01-23 18:00:00   121.000000
50%    2021-02-14 12:00:00   199.000000
75%    2023-03-09 06:00:00   290.000000
max    2025-03-31 00:00:00   494.000000
std                    NaN   104.275256

In [16]:
df = df.set_index('Date')

In [17]:
df['AQI'] = df['AQI'].interpolate(method='time')

In [18]:
df['Pollutants'] = df['Pollutants'].fillna('Unknown')

In [23]:
df = df.reset_index()

In [24]:
null_count = df['AQI'].isnull().sum()

In [25]:
print(f"The number of null values in the 'AQI' column is: {null_count}")

The number of null values in the 'AQI' column is: 0

In [27]:
null_count_pollutants = df['Pollutants'].isnull().sum()
print(f"the number of null values in the 'Pollutants' column is: {null_count_pollutants}")

the number of null values in the 'Pollutants' column is: 0

In [28]:
df.to_csv(output_file, index=False)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3012 entries, 0 to 3011
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       3012 non-null   int64
 1   Date        3012 non-null   datetime64[ns]
 2   AQI         3012 non-null   float64
 3   Pollutants  3012 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 94.3+ KB